// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// default scss variables node_modules/vuetify/src/styles/settings/_variables.scss
// import locally font 'Fira Sans'

@use 'vuetify/settings' ;
$headings: settings.$typography;

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'),
  url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

////give to all classes starting by 'text-' in 'v-app' component, parent of all components,
//// that propagates rules to all children components, the right font-family property.
.v-application {
  [class*='text-'] {
    color: #36405a;
    font-family: 'Fira Sans', sans-serif !important;
  }
  font-family: 'Fira Sans', sans-serif !important;
  background: rgb(228 229 230) !important;
}
.v-main{
  background: rgb(203, 202, 202) !important;
}

.alert {
  //position: absolute !important;
  float: right;
  //top: 7%;
  right: 1%;
  z-index: 1000 !important;
}

.transparent {
  background: rgba( 255, 255, 255, 0 )!important;
}





